html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #2f323a;
    background-size: cover;
}

.form{
    background-color: #03070A;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 0 1px 30px 1px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
    font-family: sans-serif;
    box-shadow: 0px 0px 20px 0px rgba(253, 253, 253, 0.75);
}

.form h2{
    color: black;
    text-shadow: -1px 0 #2e86de, 0 1px #2e86de, 1px 0 #2e86de, 0 -1px #2e86de;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -15px;
    
}

.username, .password{
    color: white;
    outline: 0;
    background: none;
    font-size: 15px;
    text-align: center;
    width: 265px;
    margin-bottom: 2px;
    padding: 15px;
    border: 2.5px solid #2e86de;
    border-radius: 25px;
    transition: 0.5s;
    transition-property: width;
    
}

.password:hover, .password:focus, .username:hover, .username:focus{
    width: 300px;
    
}



.login{
    outline: 0;
    background: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
    padding: 15px;
    border: 2.5px solid #10ac84;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background, transform;
}



.login:hover, .login:active, .login:focus{
    background: #10ac84;
    transform: scale(1.1);
}


.option{
    display: none;
}

.option:checked ~ span{
    color: white;
    background-color: #2e86de;
    transform: scale(1.1);
}



span{
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    padding: 12px;
    width: 100px;
    background: #000;
    border: 2.5px solid #2e86de;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 100;
    
}


p{
    color: red;
}

h3{
    color: white;
    margin: 0;
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 25px;
    font-weight: 500;
}

.deactive{
    margin: 0;
    margin-top: 20px;
    margin-bottom: -20px;
}
